﻿
@{
    ViewBag.Title = "C1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/assets/js/chart.min.js"></script>
<script src="~/assets/js/column.js"></script>

<div class="app-content content">

    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <div id="district1">
                <div class="row match-height">
                    <div class="col-md-12 col-xl-6 offset-sm-3">
                        <div class="row justifycontent-center align-items-center bg-white pb-1">
                           
                            <div class="col">
                                <div class="form-group mb-0">
                                    <select class="form-control custom-select" id="ddlCommodity">
                                        <option value="0">-Select Commodity-</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group mb-0">
                                    <select id="ddlDistrict" class="form-control  custom-select">
                                        <option value="0">-Select District-</option>

                                    </select>
                                </div>
                            </div>

                            <a href="javascript:void(0)" id="submit" class="btn btn-primary px-1 btn-sm border-0"> <i class="fa fa-sign-in"></i> Submit</a>
                        </div>


                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header py-1 align-items-center bg-cyan bg-accent-1">
                                <h4 class="card-title">
                                  Bar Chart
                                </h4>
                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">

                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body pt-1">
                                    @*Chart Content*@
                                    <a id="ChartDownload" download="ChartImage.jpg" href="" class="btn btn-primary float-right bg-flat-color-1" title="Descargar Gráfico">
                                        <!-- Download Icon -->
                                        <i class="fa fa-download"></i>
                                    </a>
                                    <div align="center" style="height: 400px; width: 800px;">
                                        <canvas id="barChart"></canvas>
                                    </div>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<style>
    .blink_me {
        animation: blinker 1s linear infinite;
        width: 50px;
    }

    keyframes blinker {
        50%;

    {
        opacity: 0;
    }

    }

    p {
        margin-top: 0;
        margin-bottom: 0rem;
        /*width: 100px !important;*/
    }
</style>
<style>
    .table {
        padding: 0px !important;
    }

    p {
        margin-top: 0;
        margin-bottom: 0rem;
    }
</style>


<script src="~/Appjs/C1.js?id=@Session["hsk"]" integrity="@Session["hsk"]" crossorigin="anonymous"></script>




